body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    line-height:1.6em;
}

#welcome p span{
   font-weight:bold;
}

#about p span{
    font-style: italic;
}

#welcome,#about{
    border:1px solid #ccc;
    padding:10px;
    margin-bottom: 20px;
}